<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
 </head>
 <body>
  <form action="" action="/"> 
    <input type="number" placeholder="Numero 1">
    <input type="number" placeholder="Numero 2">
    <br>
    <input type="number" placeholder="Numero 3">
    <input type="number" placeholder="Numero 4">
  </form>
  <button class="button" onclick="">Calcular</button>
  <script>
    function mult(){
    var x
    var y
    var n
    response.send(`${ x * n }
    `)
    response.send(`${ y * n }
    `)
    }
  </script>
 </body>
</html>